body{
   margin: 0;
   display: block;
   font-family: 'Patrick Hand', cursive;
   background-image: url(https://wallpaper.dog/large/10812310.png);
   background-repeat: no-repeat;
}
body button{
    border-radius: 30px;
    background-color: rgb(14, 158, 158);
    padding: 10px;
}

header{
    border-bottom: solid;
}

#title{
   text-align: center;
   font-size: 40px;
}

.header nav{
    font-size: 20px;
    text-align: end;
}

.header button {
    display: inline-block;
    margin: 10px;
}

.footer{
	bottom: 0;
    text-align: center;
    width: 100%;
}

.questions{
    margin: 15px;
}

#questTitle{
    text-align: center;
    font-size: 30px;
}

#textQuestions{
    text-align: left;
}  

.answer{
    text-align: center;
    margin: 15px;
    height: 50px;
}

#myAnswer{
    width: 100%;
    background: none;
    height: 100%;
}

#button{
    font-size: 20px;
} 

.lastBtn{
    text-align: center;
} 