body{
   margin: 0;
   display: block;
}

header{
    
}

#title{
   text-align: center;
}

.header nav{
    font-size: 20px;
    text-align: end;
}

.header button {
    display: inline-block;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(14, 158, 158);
    padding: 10px;
}

.footer{
    position: absolute;
	bottom: 0;
    text-align: center;
    width: 100%;
}

.questions{
    border: solid;
}

.questions h4{
    text-align: center;
}

#textQuestions{
    text-align: left;
}

.answer{
    text-align: center;
    border: solid;
}

#button{
    align-items: center;
} 