header{
    background-color: gray;
}

#title{
   text-align: center;
}

header nav{
    font-size: 20px;
    text-align: end;
}

header ul li {
    display: inline-block;
    margin: 20px;
}

header a{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

.footer{
    position: absolute;
	bottom: 0;
    text-align: center;
    width: 100%;
    background-color: gray;
}

.questions{
    border: solid;
}

.questions h4{
    text-align: center;
}

#textQuestions{
    text-align: left;
}

.answer{
    text-align: center;
    border: solid;
}

#button{
    align-items: center;
}